@{ 
    Layout = "_Layout";
}
<div class="container">
<div class="jumbotron">
    <h1>Magic word finder</h1>
</div>

<form action="/Result" method="post">
 
        
    <div class="form-group">
    <label for="word">Enter a word to find</label>
    <input type="text" name="word" class="form-control" minlength="1" pattern=".{0,}" required title="1 character minimum">
    </div>

    <div class="form-group">
    <label for="sentence">Enter a sentence to search</label>
    <input type="text" name="sentence" class="form-control" pattern=".{0,}" required title="1 character minimum">
    </div>
    <button type="submit" class="btn btn-warning">Search!</button>
</form>
</div>